DATABASE_URL="postgresql://neondb_owner:npg_eK5ZyBGfM9lh@ep-sweet-frost-ay8j4otd-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_eK5ZyBGfM9lh@ep-sweet-frost-ay8j4otd.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="hKMkyBonNnY7e4bZXSPU2LIdyTF23s859cOSTnINEuU="
AUTH_SECRET="hKMkyBonNnY7e4bZXSPU2LIdyTF23s859cOSTnINEuU="
AUTH_TRUST_HOST="true"
FIELD_ENCRYPTION_KEY="80ca3466dd74b19123230660dd909686d35711291b1d2ca3b7cfacf3c98db64d"
AWS_ENDPOINT_URL_S3="https://br-tiny-water-ay4ktjot.storage.c-5.us-east-2.aws.neon.tech"
AWS_ACCESS_KEY_ID="nak_live_46e940b3bc634a66916d04bee9fbf86d"
AWS_SECRET_ACCESS_KEY="nsk_live_5a3210cff8225ebc3cf7d0955483cbcdf72168c4f25bc85b0b673e322d9ad12f"
AWS_REGION="us-east-2"
S3_BUCKET_NAME="documents"
PASSWORD_GATE_FORMS_SAVE="admin@123"
PASSWORD_GATE_FINAL_VERIFICATION="hod@123"
PRINCIPAL_SEED_PASSWORD="ChangeMe@123"
